In [2]:
import rosbag
import pandas as pd
import numpy as np

In [3]:
bag = rosbag.Bag('../catkin_ws/bag/run1.bag')

In [4]:
topic = '/car1/rc_cmd/steer'
df = pd.DataFrame(columns=['data'])

i = 0
for topic, msg, t in bag.read_messages(topics=[topic]):
    data = msg.data
    df = df.append({'data': data}, ignore_index=True)
    i += 1

In [5]:
df = df.astype(float)
df = df.groupby(df.index // 4).mean()

In [6]:
df = ((df - 1500) / 400)[:4718]
df.to_csv('test_steer.csv')

In [7]:
mdf = pd.read_csv('test_steer.csv')

In [8]:
mdf

      Unnamed: 0    data
0              0  0.0900
1              1  0.0900
2              2  0.0900
3              3  0.0950
4              4  0.0950
...          ...     ...
4713        4713  0.0950
4714        4714  0.0900
4715        4715  0.0925
4716        4716  0.0900
4717        4717  0.0900

[4718 rows x 2 columns]