In [5]:
import rosbag
import pandas as pd
import numpy as np

Failed to load Python extension for LZ4 support. LZ4 compression will not be available.

In [6]:
bag = rosbag.Bag('../bag/run2.bag')

In [7]:
topic = '/car1/rc_cmd/steer'
df = pd.DataFrame(columns=['data'])

i = 0
for topic, msg, t in bag.read_messages(topics=[topic]):
    data = msg.data
    df = df.append({'data': data}, ignore_index=True)
    i += 1

In [8]:
df = df.astype(float)
df = df.groupby(df.index // 4).mean()

In [9]:
df = ((df - 1500) / 400)[:7338]
df.to_csv('train_steer.csv')

In [10]:
mdf = pd.read_csv('train_steer.csv')

In [11]:
mdf

      Unnamed: 0    data
0              0  0.0875
1              1  0.0900
2              2  0.0900
3              3  0.0875
4              4  0.0875
...          ...     ...
7333        7333  0.0900
7334        7334  0.0900
7335        7335  0.0900
7336        7336  0.0900
7337        7337  0.0900

[7338 rows x 2 columns]